<div class="content">
  <form class="pure-form pure-form-aligned" action="{{ .TemplateData.FormAction }}" method="POST">
    <fieldset>

      <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text" disabled="disabled" placeholder="Email Address" value="{{ .TemplateData.Email }}">
      </div>

      <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password" value="{{ .TemplateData.Password }}">
      </div>

      <div class="pure-control-group">
        <label for="repeat">Repeat</label>
        <input id="repeat" name="repeat" type="password" placeholder="Password">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
      </div>

    </fieldset>
  </form>
</div>
